Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::AutoScaling::LaunchTemplate
    Properties:
      LaunchTemplateName: "RuleEngineLaunchTemplate"
      LaunchTemplateData:
        InstanceType: "t2.micro"  # Based on your instance type
        ImageId: "ami-0ddc798b3f1a5117e"  # Based on the AMI ID
        KeyName: "launchtemplate"  # Based on the key pair you have selected
        SecurityGroups:
          - "sg-12345678"  # Replace with your security group ID (you can find this in your EC2 dashboard)
